body
{
width:800px;
margin:auto;
}

footer
{
  width:1000px;
  margin-left: -120px;
  padding-left: 25px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 15px;
  background: #EFEFEF;
}

/* ombre portée pour barre de navigation*/
.DivNav {
  float: left;
  width:auto;
  background-color: white;
  box-sizing: border-box;
  padding: 2px;
  box-shadow: 0px 5px 5px #A0A0A0;
}

SECTION {
  width:100%;
  padding-left:10px;
  display: block;
  float:right;
  margin: 0 1.5%;
}

Aside {
  width:25%;
  padding-left: 5px;
  padding-right: 20px;
  display: block;
  float: left;
  margin: 0 1.5%;
}

H1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-left:100px;
}

h2 {
  font-family: 'Marcellus', sans-serif;
  margin-left:100px;
  color:#679EC1;
  font-weight: lighter;
}

h3 {
  font-family: 'Marcellus', sans-serif;
  margin-left:30px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1,5em;
  margin-left:30px;
  text-align:justify;
}

/* used for separate
Aside and article (global text)*/
.DivArticle{
  display:block;
  float: left;
  width:72%;
}

/* used for 'Y' letter
for introduction global text */
.Yglyphe{
  font-family: 'Open Sans', sans-serif;
  font-size: 100px;
  background-color: black;
  padding-left:50px;
  padding-right:50px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius:50%;
  color:white;
  float:left;
}

/* used for underlined words
global text */
.pUnder {
  text-decoration: underline;
}

/* used for bold words
global text */
.pBold {
  font-weight: bold;
}

/* used for blockquote
global text */
.QuoteBlock {
  font-family: 'Open Sans', sans-serif;
  font-size:20px;
  line-height: 1.5em;
  text-align: left;
  margin-left:40px;
  margin-right:40px;
}

/* used for bloc in footer */
.bloc1_footer {
  font-family: 'Marcellus', sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-left:10px;
  color:#679EC1;
}

/* used for bloc in footer */
.bloc2_footer {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-left:10px;
  margin-right: 10px;
  color:black;
}

/* used for caption of
main picture */
.creditImg {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  margin-left:2px;
  color:#679EC1;
  text-align: center;
}

/* used for bouton Follow */
.follow {
  color:#DC81E2;
  border: 3px solid #DC81E2;
  border-radius: 15px;
  box-sizing:border-box;
  text-align: center;
  font-size: 14px;
}

/* used for lien Sign in
header */
.follow0 {
  color:#DC81E2;
  font-family: 'Marcellus', sans-serif;
  font-size: 14px;
  padding-left: 2px;
}

/* used for aside and
divers blocks, blocks footer */
.follow1 {
  color:#679EC1;
  font-family: 'Marcellus', sans-serif;
  font-size: 12px;
  padding-left: 2px;
}

.follow2 {
  color:black;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  padding-left: 2px;
}

.follow3 {
  color:black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-align: left;
  padding-left: 2px;
}

/* used for aside pour afficher
une séparation (trait)*/
.followAside {
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-bottom-width: medium;
}

/* used for navigation haut */
.MiddleNav {
  color:#679EC1;
  font-size: 14px;
  box-sizing:border-box;
  text-align: center;
}

/* used for box (size) */
* {
  box-sizing: border-box;
}

/* used for tables */
.tableau_li{
  font-family: 'Marcellus', sans-serif;
  font-size: 16px;
  line-height: 1,5em;
  column-width:auto;
  text-align: left;
}

/* used for tables just before footer */
.tableau_liBas {
  font-family: 'Marcellus', sans-serif;
  font-size: 12px;
  color: #A0A0A0;
  line-height: 2em;
  column-width:30px;
  text-align: center;
  background-color: #CCFFFF;
}

/* used for footer boxes */
.boxNav {
  float: left;
  background-color: white;
  box-sizing: border-box;
  width: 300;
  padding: 2px;
  box-shadow: 10px 5px 5px #A0A0A0;
  color:#679EC1;
  border: 2px solid #679EC1;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
}

/* used for boxes (3)in footer */
.box {
  float: left;
  width: 33.33%;
}

/* used for boxes (2) just before footer */
.boxB {
  float: left;
  width: 50%;
}

/* used for image in boxes in footer
bords arrondis*/
.imgFooter {
  border-radius:12px;
}

.round {
  float:left;
  width:50%;
  padding-top:30px;
  margin:0 auto;
}

/* used for creation of blocks (3 and 2)
before footer and in footer */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* image ronde pour photo Harry */
.roundedImage {
	overflow:hidden;
	-webkit-border-radius:50px;
	-moz-border-radius: 50%;
	border-radius:50px;
	width:80px;
	height:80px;
}
